{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">

  {% if title %}
  <title>Gallery - {{title}}</title>
  {% else %}
    <title> Photo Gallery </title>
  {% endif %}

  {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{%static 'css/basenews.css'%}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="{%static 'css/style.css'%}"> -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet"> -->

  {% endblock %}


</head>
<body>
    {% include "navbar.html" %}

    {% block content %} 


    {%endblock%}
    {% include 'footer.html' %}
    {% block scripts %}
    {% bootstrap_javascript %}
    {% load static %}    
    {% endblock scripts %}

   
</body>
</html>