<footer class="container py-5">
        <div class="row">
          <div class="col-6 col-md">
            <h5>Categories</h5>
            <ul class="list-unstyled text-small" style="text-align:center;">
              <li><a class="text-muted" href="{% url 'nature'%}">Nature</a></li>
              <li><a class="text-muted" href="{% url 'entertainment'%}">Entertainment</a></li>
              <li><a class="text-muted" href="{% url 'technology'%}">Technology</a></li>
              <li><a class="text-muted" href="{% url 'sports'%}">Sports</a></li>
              <li><a class="text-muted" href="{% url 'gallery'%}">All Photos</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Contacts</h5>
            <ul class="list-unstyled text-small" style="text-align:center;">
              <li><a class="text-muted" href="mailto:gabriel.oduori@gmail.com"">Email</a></li>
              <li><a class="text-muted" href="#">Phone</a></li>
              <li><a class="text-muted" href="#">Skype</a></li>

            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Follow us</h5>
            <ul class="list-unstyled text-small" style="font-size:x-large;text-align:center;">
              <li><a class="text-muted" href="#"><i class="fab fa-twitter"></i></a></li>
              <li><a class="text-muted" href="#" ><i class="fab fa-facebook-square"></i></a></li>
              <li><a class="text-muted" href="#"><i class="fab fa-linkedin"></i></a></li>
              <li><a class="text-muted" href="#"><i class="fab fa-github"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="col-14 col-md">
          <div class="container text-center">
              <p style="font-size:small"> © Gabriel Oduori {% now "Y" %}</p>
              </div>
      </div>
      </footer>