<div class="modal fade" id="myModal{{image.id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="#{{image.name}}">{{image.name}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div>
          <img src = "{{ image.photo.url }}" class="img-fluid" alt="{{image.name}}"/>
        </div>
        <div class="modal-body">{{image.description}}</div>
        <div class="modal-body">Category: {{image.category}}</div>
        <div class="modal-body">Location:{{image.location}}</div>
        <div class="modal-footer">
  
          <button type="button" class="btn btn-info" value="https://django-photo-gallery.herokuapp.com{{ image.photo.url }}" onclick="copyURL(this.value)">Copy URL</button>
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  <script>
  function copyURL(value){
    function handler(event){
      event.clipboardData.setData('text/plain',value);
      event.preventDefault();
      document.removeEventListener('copy',handler, true);
    }
    document.addEventListener('copy', handler, true);
    document.execCommand('copy');
  }
  </script>