{% extends 'base.html' %}


{% block content %}
<div class="container">


  
        <div class="row">
          {% if image %}
            <h2>Found {{ images|length }} of searched category {{message}}</h2>
          {% else %}
            <h2> Found 0 categories of the search term {{message}}</h2>
          {% endif %}
      
        </div>
      
        <div class="row">
      
        {% if gallery %}
          {% for image in gallery %}
            <div class="col-sm-6 col-md-3">
                <h1>{{image.name}}</h1>
                <img src="{{image.photo.url}}">
            </div>
          {% endfor %}
        {% endif %}
        </div>
      </div>

{% endblock %}