

<div class="album">
        <div class="container">
          <div class="row">
        {% for image in gallery %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
                <div class="card-header">{{image.name}}</div>
                <div class="card-body">
                    <img class="card-img-top"src = "{{ image.photo.url }}" data-toggle="modal" data-target="#exampleModalLong" style="height:150px;"/>

                  
                    <br>
                  <p class="card-text">{{image.summary}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#exampleModalLong">View</button>
                    </div>
                    <small class="text-muted">Posted : {{image.pub_date|timesince}}</small>
                  </div>
                </div>
              </div>    
          </div>
          {% empty %}
          <h3>The gallery is still empty!</h3>
        {% endfor %}
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

