

<div class="album">
        <div class="container">
          <div class="row">
        {% for image in gallery %}
            <div class="col-md-4">
              <div class="card mb-4 shadow-sm" style="width:20rem;height:23rem;">
                <div class="card-header">{{image.name}}</div>
                <div class="card-body">                    <img class="card-img-top"src = "{{ image.photo.url }}" data-toggle="modal" data-target="#{{image.name}}" style="height:150px;"/>

                  
                    <br>
                  <p class="card-text">{{image.summary}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#{{image.name}}">View</button>
                    </div>
                    <small class="text-muted">Posted : {{image.pub_date|timesince}}</small>
                  </div>
                </div>
              </div>    
          </div>

          <!-- Modal -->
<div class="modal fade" id="{{image.name}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollable" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="#{{image.name}}">{{image.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div>
        <img src = "{{ image.photo.url }}" class="img-fluid" alt="{{image.name}}"/>
      </div>
      <div class="modal-body">{{image.description}}</div>
      <div class="modal-body">Category: {{image.category}}</div>
      <div class="modal-body">Location:{{image.location}}</div>
      <div class="modal-footer">

        <button type="button" class="btn btn-info" value="{{ image.photo.url }}" onclick="copyURL(this.value)">Copy Link</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
<script>
function copyURL(value){
  function handler(event){
    event.clipboardData.setData('text/plain',value);
    event.preventDefault();
    document.removeEventListener('copy',handler, true);
  }
  document.addEventListener('copy', handler, true);
  document.execCommand('copy');
}
</script>
          {% empty %}
          <h3>The gallery is still empty!</h3>

          
        {% endfor %}


</div>



